:root {
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-color: #ffffff;
  --white-color: #e5e5e5;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --black-color: #000000;
  --gray-color: #757575;
  --light-gray-color: #eeeeee;
  --bordings: #ececec;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --white-transparent-icon: rgba(255, 255, 255, 0.1);
  --subscription-text: rgba(47, 48, 58, 0.8);
  --description-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-color-form: rgba(33, 33, 33, 0.2);
  --modal-form-color-hover: #188ce8;
  --transition-effrcts: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  color: var(--gray-color);
  letter-spacing: 0.03em;
  font-size: 14px;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 1199px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1172px;
  }
  .section {
    padding: 94px 0;
  }
}
.logo {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--blue {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 93px;
  }
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
  .page__header {
    padding: 16px 0;
  }
  .menu {
    display: none;
  }
  .mobile-menu-open {
    display: inline;
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none;
  }
}
.page__header {
  border-bottom: 1px solid #ececec;
}

.container--align {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    transition: color var(--transition-effrcts);
  }
  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
    transition: fill var(--transition-effrcts);
  }
  .contacts__icon:hover, .contacts__icon:focus {
    fill: currentColor;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link--current::after,
.menu__link--hover::before {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: var(--accent-text-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    bottom: -38.5px;
    transform: translateX(-50%);
    display: block;
  }
  .menu__link--hover::before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    bottom: -38.5px;
    transform: translateX(-50%);
    background-color: var(--accent-text-color);
    display: block;
    transition: opacity var(--transition-effrcts);
    opacity: 0;
  }
  .menu__link--hover:hover::before,
.menu__link--hover:focus::before {
    opacity: 1;
  }
  .contacts__link {
    display: flex;
    align-items: center;
  }
  .link {
    text-decoration: none;
  }
  .menu .link:hover,
.menu .link:focus,
.menu .link.menu__link--current {
    color: var(--accent-text-color);
  }
  .contacts .link {
    color: var(--gray-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-effrcts);
  }
  .contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-text-color);
  }
  .contacts__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 11px;
  }
  .page__header {
    padding: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .container--align {
    justify-content: flex-start;
  }
  .contacts {
    display: flex;
    margin-left: auto;
  }
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
  .contacts__item {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .menu__link--current::after,
.menu__link--hover::before {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: var(--accent-text-color);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    bottom: -32.5px;
    transform: translateX(-50%);
    display: block;
  }
  .menu__link--hover::before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    bottom: -32.5px;
    transform: translateX(-50%);
    background-color: var(--accent-text-color);
    display: block;
    transition: opacity var(--transition-effrcts);
    opacity: 0;
  }
}
@media screen and (min-width: 1200px) {
  .page__header {
    padding: 25px 0;
  }
}
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-color: var(--background-color);
  text-align: center;
}

.title-hero {
  margin: 0 auto;
  color: var(--primary-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header-mob.jpg");
    height: 400px;
  }
  .title-hero {
    font-size: 26px;
    line-height: 1.61;
    width: 100%;
  }
  .title-hero__container {
    width: 100%;
    padding: 118px 0;
  }
}
@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header-mob-2x.jpg");
  }
}
@media screen and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header-tablet.jpg");
  }
  .title-hero {
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    width: 100%;
    max-width: 360px;
  }
  .title-hero__container {
    width: 100%;
    padding: 118px 0;
    max-width: 360px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header-tablet-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header.jpg");
    height: 600px;
    max-width: 1600px;
  }
  .title-hero {
    font-size: 44px;
    line-height: 1.36;
    width: 100%;
  }
  .title-hero__container {
    width: 100%;
    padding: 200px 0;
    max-width: 696px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/index/hero/header-2x.jpg");
  }
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section-title {
    font-size: 36px;
  }
}
@media screen and (max-width: 767px) {
  .section-title {
    font-size: 28px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    letter-spacing: 0.03em;
  }
}
.feature .features-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature .feature-text {
  font-weight: 400;
  line-height: 1.71;
}

.work {
  padding-top: 0;
}

.features-icon-antena::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--second-background-color);
  background-image: url(../images/antenna1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-icon-clock::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--second-background-color);
  background-image: url(../images/clock1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-icon-diagram::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--second-background-color);
  background-image: url(../images/diagram1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.features-icon-cosmo::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: var(--second-background-color);
  background-image: url(../images/astronaut1.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.pictures {
  display: flex;
  gap: 30px;
}

.pictures-item {
  flex-basis: calc((100% - 60px) / 3);
}

.subscription-pictures {
  position: relative;
}

.sub-pictures-text {
  position: absolute;
  bottom: 0;
  background-color: var(--subscription-text);
  color: var(--primary-color);
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .feature-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-title {
    text-align: center;
  }
}
@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-item {
    max-width: 354px;
    width: 100%;
  }
  .feature {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    min-width: 768px;
    justify-content: center;
  }
  .pictures-item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-basis: calc((100% - 90px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team-portret {
    margin: 0 auto;
  }
  .team-portret {
    max-width: 450px;
  }
  .team-portret:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .team-portret {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .team-portret {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    display: flex;
    gap: 30px;
  }
}
.team-portret {
  /* width: calc((100%-90px)/4); */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team .title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-section {
  background-color: var(--second-background-color);
}

.team-info {
  text-align: center;
  background-color: #ffffff;
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
  width: 100%;
}

.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition: color var(--transition-effrcts), background-color var(--transition-effrcts);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-color);
}

.social-list-icon {
  fill: currentColor;
  transition: fill var(--transition-effrcts);
}

.footer_links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--white-transparent-icon);
  transition: background-color var(--transition-effrcts);
}
.footer_links:hover, .footer_links:focus {
  background-color: var(--accent-text-color);
}

.footer_smIcon {
  fill: var(--primary-color);
}
.footer_links:hover .footer_smIcon, .footer_links:focus .footer_smIcon {
  fill: var(--primary-color);
}

.button {
  text-align: center;
  transition: background-color var(--transition-effrcts);
}
.button:hover, .button:focus {
  background-color: var(--modal-form-color-hover);
}

.clients-title {
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 42px;
}

@media screen and (max-width: 767px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-basis: calc((100% - 30px) / 2);
  }
  .clients-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
@media screen and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    flex-basis: calc((100% - 60px) / 3);
  }
}
.clients-list {
  display: flex;
  gap: 30px;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--transition-effrcts), border var(--transition-effrcts);
}
.clients:hover, .clients:focus {
  border: 1px solid var(--accent-text-color);
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    width: 226px;
  }
}
.clients-icon {
  fill: currentColor;
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color);
}

.footer__logo.link {
  font-family: "Raleway", sans-serif;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  margin-top: 20px;
}

.address-info.link {
  color: var(--primary-color);
}

.address__contact.link {
  color: var(--white-transparent);
}

.info {
  font-weight: 400;
  line-height: 1.71;
}

.address-info {
  color: var(--primary-color);
  transition: color var(--transition-effrcts);
}
.address-info:hover, .address-info:focus {
  color: var(--accent-text-color);
}

.address__contact {
  color: var(--white-transparent);
  transition: color var(--transition-effrcts);
}
.address__contact:hover, .address__contact:focus {
  color: var(--accent-text-color);
}

.footer_title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.icon-figma {
  fill: #000000;
}

.footer-form-email {
  margin-bottom: 20px;
}

.footer_socialMedia {
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__item {
    text-align: center;
  }
  .address {
    margin-bottom: 60px;
  }
  .footer__container {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .footer__info {
    text-align: center;
  }
  .footer_socialMedia {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .footer_items:not(:last-child) {
    margin-right: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__items-cont {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item {
    display: flex;
    align-items: baseline;
  }
  .footer__info {
    margin-right: 70px;
  }
  .footer__container {
    margin-right: auto;
  }
  .footer__items-cont {
    display: flex;
    align-items: baseline;
    margin-right: auto;
  }
}
.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
  row-gap: 15px;
}

.filter__button {
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.63;
  text-align: center;
  border: none;
  border-radius: 4px;
  transition: color var(--transition-effrcts), background-color var(--transition-effrcts), box-shadow var(--transition-effrcts);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--accent-text-color);
  color: var(--primary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .filter {
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.project {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.project__link {
  display: block;
  transition: box-shadow var(--transition-effrcts);
}
.project__link:hover, .project__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__info {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.project__title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin-bottom: 4px;
}

.project__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--gray-color);
  letter-spacing: 0.03em;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.88;
}

.project__product {
  position: relative;
  overflow: hidden;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 101%);
  transition: transform var(--transition-effrcts);
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-color);
  background-color: var(--description-color);
}
.project__link:hover .project__description, .project__link:focus .project__description {
  transform: translate(0, 0);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
  .project__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .project__info {
    flex-grow: 1;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    width: 100%;
    min-width: 1170px;
    display: flex;
    gap: 30px;
  }
}
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);
  transition: opacity var(--transition-effrcts), visibility var(--transition-effrcts);
  opacity: 1;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-color);
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 3;
  display: flex;
  justify-content: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background-color: var(--primary-color);
  transition: border-color var(--transition-effrcts);
}

.icon-close {
  transition: fill var(--transition-effrcts);
}
.modal-close-btn:hover .icon-close, .modal-close-btn:focus .icon-close {
  fill: var(--accent-text-color);
}

.modal-form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  color: var(--primary-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.88;
  min-width: 200px;
  position: relative;
  transition: background-color var(--transition-effrcts);
}
.modal-form-button:hover, .modal-form-button:focus {
  background-color: var(--modal-form-color-hover);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-items {
  margin-bottom: 10px;
}

.modal-form-maintitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--black-color);
  margin-bottom: 12px;
}

.modal-form-title {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--gray-color);
}

.modal-form-text {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  outline: none;
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
  color: var(--black-color);
  font-size: 16px;
  transition: border-color var(--transition-effrcts);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  transition: fill var(--transition-effrcts);
}
.modal-form-text:focus + .modal-form-icon {
  fill: var(--accent-text-color);
}

.modal-form-custom-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.modal-form-custom-check::before {
  content: "";
  height: 15px;
  width: 16px;
  display: block;
  border: 1.5px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}
.modal-form-checkbox:checked + .modal-form-custom-check::before {
  background-color: var(--accent-text-color);
  background-image: url(../images/Vector.svg);
  background-repeat: no-repeat;
  background-size: 11px 8px;
  background-position: center;
  border: transparent;
}
.modal-form-checkbox:focus + .modal-form-custom-check::before {
  outline: 1px solid var(--accent-text-color);
}

.modal-form-text-comments {
  margin-bottom: 20px;
}

.model-form-custom-link {
  color: var(--accent-text-color);
  line-height: 1.71;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  color: var(--black-color);
  border: 1px solid var(--border-color-form);
  border-radius: 4px;
  transition: border-color var(--transition-effrcts);
}

.modal-form-message:focus,
.modal-form-text:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 300px;
    height: 609px;
  }
  .model-form-custom-link,
.modal-form-custom-check {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
  }
}
.footer__modalTitle {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.footer-form-email {
  width: 100px;
  height: 50px;
  padding-left: 16px;
  color: var(--primary-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  transition: border-color var(--transition-effrcts);
}
.footer-form-email.footer-form-email:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.footer__formButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  position: relative;
  transition: background-color var(--transition-effrcts);
}
.footer__formButton:hover, .footer__formButton:focus {
  background-color: var(--modal-form-color-hover);
}

.footer__formIcon {
  margin-left: 10px;
}

@media screen and (max-width: 1199px) {
  .footer-form-email {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__formItem {
    text-align: center;
  }
  .footer__modalTitle,
.footer_title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__formItem {
    display: flex;
  }
  .footer-form-email {
    width: 358px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    max-height: 796px;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--primary-color);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-effrcts), visibility var(--transition-effrcts);
  }
  .mobile-menu_container {
    height: 100%;
    position: relative;
    padding: 48px 0 48px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_btn {
    position: absolute;
    top: 20px;
    right: 15px;
    display: inline;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
    border: none;
    transition: fill var(--transition-effrcts);
  }
  .mobile-menu-open__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: fill var(--transition-effrcts);
  }
  .mobile-menu_icon,
.mobile-menu-open__icon {
    margin: auto;
  }
  .mobile-menu_btn:hover .mobile-menu_icon,
.mobile-menu_btn:focus .mobile-menu_icon,
.mobile-menu-open:hover .mobile-menu-open__icon,
.mobile-menu-open:focus .mobile-menu-open__icon {
    fill: var(--accent-text-color);
  }
  .nav-menu {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .mobile--menu__item {
    color: var(--title-text-color);
  }
  .mobile--menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .link {
    text-decoration: none;
    color: var(--title-text-color);
  }
  .mobile--menu__item .link:hover,
.mobile--menu__item .link:focus,
.nav-menu .link.mobile--menu__link--current {
    color: var(--accent-text-color);
  }
  .mobile--contacts {
    margin-bottom: 64px;
  }
  .mobile--contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile--contacts__mail {
    color: var(--gray-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-effrcts);
  }
  .mobile--contacts__phone {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
  .mobile--socialMedia {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .mobile--social_links {
    color: var(--accent-text-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
  }
  .mobile--social_items:not(:last-child) {
    padding-right: 20px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
:root {
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-color: #ffffff;
  --white-color: #e5e5e5;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --black-color: #000000;
  --gray-color: #757575;
  --light-gray-color: #eeeeee;
  --bordings: #ececec;
  --white-transparent: rgba(255, 255, 255, 0.6);
  --icon-color: #afb1b8;
  --white-transparent-icon: rgba(255, 255, 255, 0.1);
  --subscription-text: rgba(47, 48, 58, 0.8);
  --description-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --border-color-form: rgba(33, 33, 33, 0.2);
  --modal-form-color-hover: #188ce8;
  --transition-effrcts: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button, .footer__formButton {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-color);
  background-color: var(--accent-text-color);
  min-width: 200px;
}/*# sourceMappingURL=main.css.map */