.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  background-color: var(--background-color);
  text-align: center;
}
.title-hero {
  margin: 0 auto;

  color: var(--primary-color);

  font-weight: 900;
  letter-spacing: 0.06em;

  text-align: center;
  text-transform: uppercase;

  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index/hero/header-mob.jpg');
    height: 400px;
  }
  .title-hero {
    font-size: 26px;
    line-height: 1.61;

    width: 100%;
  }
  .title-hero__container {
    width: 100%;
    padding: 118px 0;
  }
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index/hero/header-mob-2x.jpg');
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index/hero/header-tablet.jpg');
  }
  .title-hero {
    font-size: 26px;
    line-height: 1.61;
    text-align: center;

    width: 100%;
    max-width: 360px;
  }
  .title-hero__container {
    width: 100%;
    padding: 118px 0;
    max-width: 360px;
    margin: 0 auto;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/index/hero/header-tablet-2x.jpg');
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/index/hero/header.jpg');
    height: 600px;
    max-width: 1600px;
  }
  .title-hero {
    font-size: 44px;
    line-height: 1.36;

    width: 100%;
  }
  .title-hero__container {
    width: 100%;
    padding: 200px 0;
    max-width: 696px;
  }
  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/index/hero/header-2x.jpg');
    }
  }
}
