.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--blue {
  color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
    .logo {
        margin-right: 90px;
    }
}
@media screen and (min-width: 1200px) {
    .logo {
        margin-right: 93px;
    }
}
// .logo {
//   color: var(--black-color);
//   font-family: 'Raleway', sans-serif;
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;

//   margin-right: 93px;
// }
// .logo--blue {
//   color: var(--accent-text-color);
// }
